.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# auto-added ignorables:
compiled.pkl
/compiled.pkl
**/compiled.pkl
